/*********************
 Footer
*/

footer
    background: $calendar-days-bg-g
    color: rgba(255,255,255, 0.4)
    padding: 5rem 1rem
    margin-top: 5rem
    text-align: center
    font-weight: 300
    font-size: .8rem
    letter-spacing: 0.01rem
    //box-shadow: $nav-box-shadow

    img
        opacity: 0.2
        box-shadow: $calendar-box-shadow

    // hr
    //     margin: .8rem 0
    //     border-color: rgba(255,255,255, .3)
    //
    //
    // h4
    //     margin-top: 1rem
    //     margin-bottom:0


footer a
    color: rgba(255,255,255, .6)
    line-height: 1.4rem
    padding: .4rem .5rem
    font-size: .8rem

    span
        font-weight: bold
        color: rgba(255,255,255, .4)

footer a:hover,
footer a:focus,
footer a:active
    color: $light-color

.social-link
    font-size: 1.2rem

.github-icon
    color: rgba(255,255,255, .5)
    fill: rgba(255,255,255, .5)

.github-icon:hover,
.github-icon:active,
.github-icon:focus
    color: rgba(255,255,255, .7)
    fill: rgba(255,255,255, .7)

@media screen and (min-width: 40rem)
    footer a br
        display: none
