/******************
List Days
*/

.list-days
    width: 100%
    max-width: 63rem
    padding: 2rem
    margin: 0 auto
    user-select: none


.list-days-filter
    margin-bottom: 3rem !important
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px


.list-days-title
    margin: 3rem .5rem 0.75rem !important
    font-weight: 400

.list-days-filter button
    min-width: 50px !important
