/*  Login Button  */

#login-buttons
    padding-top: 10px
    line-height: 37px
    vertical-align: middle


#login-buttons .login-button
    float:left
    margin-right: 1rem
    box-shadow: $login-btn-box-shadow
    -webkit-tap-highlight-color: transparent
    transition: all .3s ease-out
    will-change: opacity, transform
    position: relative
    line-height: 2.3rem
    height: 2.375rem
    padding: 0 2rem
    overflow: hidden
    vertical-align: middle
    z-index: 1
    padding: 0 1rem 0 2rem
    border: none
    border-radius: 3rem
    font-size: 1rem
    position: relative
    cursor: pointer
    display: inline-block
    user-select: none
    /* background-color: #8fcaf9 */
    background: $login-btn-bg
    opcaity: 0.9
    font-family: $body-font-family

#login-buttons .login-image
    left: 10px
    top: 10px

.login-box
    text-align: center
    padding: 0rem 1rem 0

.no-user
    opacity: 0.5
