/*********************
 Nav
*/
.sticky-box
    position: fixed !important
    width: 100%
    bottom: 0
    z-index: 10


.nav
    text-align: center
    background: $nav-bg /* rgba(99,133,216, .9) rgb(2,187,215) rgb(0, 188, 212) */
    box-shadow: $nav-box-shadow
    height: 43px

.nav-link
    vertical-align: top
    width: 50px !important
    height: 50px !important
    padding: 6px !important
    margin: 0 6px !important

.nav-link svg
    color: $nav-link-color
    margin-top: 2px
    width: 28px !important
    height: 28px !important

.nav-btn svg
    margin-top: -4px

.nav-link-active svg
    color: $nav-link-active-color

// Vertical Menu

.menuitem-icon
    display: inline-block
    margin: 12px 30px 12px 0 !important
    float: left !important
    width: 24px !important
    height: 24px !important
    padding: 0 !important
    // color: #fff !important

.menuitem-icon svg
    // color: #fff !important

.menuitem-link
    display: block !important
    font-family: $body-font-family !important
    // color: #fff !important
    // font-weight: 300 !important
    // letter-spacing: .2px

svg.vertical-menu-icon
    margin-top: -4px !important
    color: rgba(255,255,255,0.7) !important

.menuitem-link-active
    background-color: rgba(0,0,0, .07) !important
